body {
    background-color: #f7f6f6;
    margin: 0;
    padding: 0;
    height: 100%;
}

.btn {
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5em 1em;
    color: aqua;
    background-color: lightcoral;
    border: 10px solid red;
    border-radius: 5px;
}


